<div class="container margem">
    <h1>LISTAGEM DE CURSOS</h1>
    <div class="col-md-12">

        <div class="form-group">
            <label for="codigo">Informe a descrição para filtrar:</label>
            <input type="text" #busca(keyup)="0" class="form-control" placeholder="Filtrar pela decsrição">
        </div>

        <ul class="list_group">
            <li *ngFor="let item of ListaCursos| subLista:busca.value" class="list-group-item">
                <span class="badge">{{item.codigo}}</span>
                <a href="#">{{item.descricao | uppercase}}</a>
            </li>
        </ul>
    </div>
</div>