<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> <span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand" [routerLink]="['/']">{{titulo_escola}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/lista']">{{titulo_lista}}</a></li>
                <li><a [routerLink]="['/cadastro']">{{titulo_cad}}</a></li>
                <li><a [routerLink]="['/masterdetail']">{{titulo_masterdetail}}</a></li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>